<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1438522014717-d7ce32b9bab9?auto=format&fit=crop&w=1949&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <div class="banner-content">
    <h1>Mr. Cocktail</h1>
    <p>Create and store all of your cocktail recipes</p>
    <%= link_to "Start Now", new_cocktail_path(@cocktail), class: "btn btn-warning btn-lg" %>
  </div>
</div>



<div class="background">

  <div class="container">
    <div class="row text-center">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
            <div class="card-description">
              <h2> <%=link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <h4><%= link_to "See Recipe", cocktail_path(cocktail) %> </h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

