// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";

.container {
  width: 800px;
}


h1 {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

p, a, h2, h3, h4 {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

.btn {
  font-family: 'Berkshire Swash', cursive;
  margin-bottom: 10px;
}

a {
  color: white;
}

.fa.fa-times {
  color: #DE3267;
}

.cocktail-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style_image {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

