// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dose {
  display: inline;
}

.dose-item {
  width: 300px;
}

body {
  background-color: red;
}
